<div class='container-left'>
	<div class="col-md-5">
		<form id="keyElementForm" ng-controller="keyElement">

			<div>
				<div class="form-horizontal">
					<label for="name"><span>Name: </span>
					<input type="text" id="name" ng-model="keyElement.Name" size="50" class="form-control" /></label>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" ng-show="{{isUpdate}}" ng-click="update(keyElement);changePage(4)" value="Update" class="btn btn-primary" />
				<input type="submit" ng-show="{{isSave}}" ng-click="save(keyElement);changePage(4)" value="Save" class="btn btn-primary" />
				<input type="button" ng-click="reset()" value="Reset" />
			</div>
		</form>
	</div>
<div>