<div class='container-left'>
	<div class="col-md-12">
		<form id="monsterForm" ng-controller="monster">

			<div>
				<div class="form-horizontal">
					<label for="name"><span>Name: </span>
					<input type="text" id="name" ng-model="tpl_monster.Name" class="form-control" /></label>
					
					<label for="level"><span>Level: </span>
					<input type="number" id="level" value="0" ng-model="tpl_monster.Level" class="form-control"  /></label>
					
					<label for="Hp"><span>Hp: </span>
					<input type="number" id="Hp" value="0" ng-model="tpl_monster.Hp" class="form-control"  /></label>
					
					<label for="Attack"><span>Attack: </span>
					<input type="number" id="Attack" value="0" ng-model="tpl_monster.Attack" class="form-control" /></label>
					
					<label for="Defense"><span>Defense: </span>
					<input type="number" id="Defense" value="0" ng-model="tpl_monster.Defense" class="form-control" /></label>
					
					<label for="MagicAttack"><span>MagicAttack: </span>
					<input type="number" id="MagicAttack" value="0" ng-model="tpl_monster.MagicAttack" class="form-control"  /></label>
					
					<label for="MagicDefense"><span>MagicDefense: </span>
					<input type="number" id="MagicDefense" value="0" ng-model="tpl_monster.MagicDefense" class="form-control"  /></label>
					
					<label for="Speed"><span>Speed: </span>
					<input type="number" id="Speed" value="0" ng-model="tpl_monster.Speed" class="form-control"  /></label>
					
					<label for="Type"><span>Type: </span>
					<input type="text" id="Type"  ng-model="tpl_monster.Type"  class="form-control"/></label>
					
					<label for="CriticalChance"><span>CriticalChance: </span>
					<input type="number" id="CriticalChance" value="0" ng-model="tpl_monster.CriticalChance"  class="form-control" /></label>
					
					<label for="CriticalDamage"><span>CriticalDamage: </span>
					<input type="number" id="CriticalDamage" value="0" value="0" ng-model="tpl_monster.CriticalDamage" class="form-control"  /></label>
					
					<label for="Evasion"><span>Evasion: </span>
					<input type="number" id="Evasion" value="0" ng-model="tpl_monster.Evasion" class="form-control"  /></label>
					
					<label for="Accuracy"><span>Accuracy: </span>
					<input type="number" id="Accuracy"  value="0" ng-model="tpl_monster.Accuracy"  class="form-control" /></label>
				</div>
			</div>
		
			<div class="form-group">
				<LEGEND><span>Skills: </span></LEGEND>
				<fieldset data-ng-repeat="skill in tpl_monster.Skills" style="border: 0px; padding:0px;">
					
					<label for="keyElement" class="col-md-2 control-label"><span>Key Element: </span>
					<select id="keyElement" ng-model="skill.keyElement" ng-init="skill.keyElement='Fire'"  class="form-control">
						<option value="Fire">Fire</option>
						<option value="Plant">Plant</option>
						<option value="Water">Water</option>
					</select></label>
					
					<label for="skillName" class="col-md-2 control-label"><span>Name: </span>
					<input type="text" ng-model="skill.skillName" id="skillName"  class="form-control"/></label>
					
					<label for="type" class="col-md-2 control-label"><span>Type: </span>
					<select id="type" ng-model="skill.type" ng-init="skill.type='Attack'" class="form-control">
						<option value="Attack">Attack</option>
						<option value="Buff">Buff</option>
						<option value="Heal">Heal</option>
					</select></label>
					
					<label for="baseDamage" class="col-md-2 control-label"><span>Base Damage: </span>
					<select id="baseDamage" ng-model="skill.BaseDamage" ng-init="skill.BaseDamage='Hp'"  class="form-control">
						<option value="Hp">Hp</option>
						<option value="Attack">Attack</option>
						<option value="Deffence">Deffence</option>
					</select></label>
					
					<label for="target" class="col-md-2 control-label"><span>Target: </span>
					<select id="target" ng-model="skill.target" ng-init="skill.target='Indiviudual'"  class="form-control">
						<option value="Indiviudual">Indiviudual</option>
						<option value="Multi">Multi</option>
					</select></label>
					
					<label for="baseAttribute" class="col-md-2 control-label"><span>Base Attribute: </span>
					<input type="number" value="0" ng-model="skill.BaseAttribute" id="baseAttribute" class="form-control" /></label>
					
					<label for="accuracy" class="col-md-2 control-label"><span>Accuracy: </span>
					<input type="number" value="0" ng-model="skill.Accuracy" id="accuracy" class="form-control" /></label>
					
					<label class="col-md-2 control-label"><span>Actions: </span>
						<div>
							<button ng-click="removeSkill(skill)" id="less" class="btn btn-primary"><span>-</span></button>
							<button ng-click="addSkill()" id="more" class="btn btn-primary"><span>+</span></button>
						</div>
					</label>
				</fieldset>
			</div>
			<div class="form-group form-control">
				<LEGEND><span>Chose a Monster: </span></LEGEND>
				<div id="fileNames" data-ng-repeat="imagens in imgs.name" class="col-sm-1 col-md-2">
					<div>
						<input id="option" type="radio" name="field" value="{{imagens.sprite}}" class="form-control"  ng-model="tpl_monster.SpriteName"   />
						<img ng-src="./Monsters/{{imagens.file}}" class="img-thumbnail"/>
					</div>
				</div>				
			</div>
			<div class="form-group form-control">
				<input type="submit" ng-show="{{isUpdate}}" ng-click="update(tpl_monster);changePage(0)" value="Update" class="btn btn-primary" />
				<input type="submit" ng-show="{{isSave}}" ng-click="save(tpl_monster);changePage(0)" value="Save" class="btn btn-primary" />
				<input type="button" ng-click="reset()" value="Reset" />
			</div>
		</form>
	</div>
<div>